.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-bottom: 3px solid rgba(0, 0, 0, 0.7);
}

h2{
    color: rgba(0, 0, 0, 0.99);
}

.head{
    width: 30%;
}

.data{
    width: 30%;
}

/* .video{
    width: 400px;
    height: 280;
} */

p{
    color: rgba(0,0,0,0.6);
}