*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-size: 11.5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    line-height: 1.5;
}
body{
    background-color: rgb(236,242,248);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    height: 88vh;
    width: 82%;
    background-color: rgb(236,242,248);
    display: grid;
    grid-template-areas: 
    "one one two three"
    "four five five three";
    gap: 24px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    margin: auto;
}
.box{
    padding:32px;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap:15px;
}
span > p{
    opacity: 0.5;
}
.one{
    grid-area: one;
    background-color: rgb(117,65,200);
    color: white;
    background-image: url("quotation.svg");
    background-position: b;
    background-repeat: no-repeat;
    background-position-x: 90%;
}
.two{
    grid-area: two;
    background-color:rgb(72,85,106) ;
    color: white;
    border-radius: 10px;
}
.three{
    grid-area: three;
    background-color: rgb(255,255,255);
    color: rgb(77, 77, 77);
    border-radius: 10px;
    font-size: 13px;   
}
.four{
    grid-area: four;
    background-color: rgb(255,255,255);
    color: rgb(77, 77, 77);
    border-radius: 10px;
}
.five{
    grid-area: five;
    background-color: rgb(25,33,46);
    color: white;
    border-radius: 10px;
}
.header{
    display: flex;
    align-content: center;
    gap: 15px;
}
img{
    height: 28px;
    width: 28px;
    border-radius: 50%;
}
.content{
    font-size: 18px;
    line-height: 1.2;
    width: fit-content;
    font-weight: 500;
}
.footer{
    opacity: 0.7;
}